* {
    user-select: none;
}

body {
    background-image: url(https://images.unsplash.com/photo-1558022103-603c34ab10ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1771&q=80);
    background-size: cover;
}

.funFont {
    font-family: 'Pixelify Sans', cursive;
    color: white;
    font-size: 3em;
}

.box {
    background-color: black;
    border: 4px solid white;


}

.emoji {
    font-size: 5em;
}